<ion-header>
    <ion-toolbar>
        <ion-title>Registrate!</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/asistente"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content paddig>
    <ion-list>
        <ion-item>
            <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Repetir Password" type="repass" [(ngModel)]="password"></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button full (click)="registrar() ">Guardar</button>

</ion-content>