<ion-header>
    <ion-toolbar>
        <ion-title>Asistente de Compras</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-button routerLink="/home" routerDirection="back">iniciar Secion </ion-button>
    <ion-button routerLink="/home" routerDirection="back">Registrarte</ion-button>
    <ion-button routerLink="/home" routerDirection="back">Volver a Inicio </ion-button>

</ion-content>