<ion-header>
    <ion-toolbar>
        <ion-title>Asistente de Compras</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content>

    <ion-list>

        <ion-button color="primary" expand="full" (click)="navigateToasistente1()">Iniciar Sesion </ion-button>
        <ion-button color="primary" expand="full" (click)="navigateToasistente2()">Registrate </ion-button>
        <ion-button color="primary" expand="full" (click)="navigateToasistente3()">Comenzar Compra </ion-button>
        <ion-button color="primary" expand="full" (click)="navigateToasistente4()">Volver a Inicio</ion-button>

    </ion-list>


</ion-content>